.heroSection {
    height: 91vh;
    background-image: url('../../assets/Images/Motion\ Background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bgLayer {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.textBox {
    z-index: 5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: absolute;
    top: 40%;
    left: 5%;
    margin: auto 0;
}

.textBox h1 {
    font-size: 75px;
    font-weight: 600;
}

.textBox p {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
}

.signUpBox {
    position: absolute;
    padding: 35px;
    border: 1px solid #7526F2;
    border-radius: 20px;
    top: 7%;
    right: 8%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgba(30, 28, 34, 0.60);
    backdrop-filter: blur(5px);
    max-width: 400px;
}

.signInWithGoogle {
    background-color: #4285F4;
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.googleIcon {
    padding: 2px 2px 0px 2px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.hr {
    border: none;
    height: 1px;
    background: #2D2D2D;

}

#registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dropdown{
    background: none;
    border: none;
    color: #8971A0;
}

.signUpAsUser{
    width: 100%;
    padding: 1rem;
    background: linear-gradient(91deg, #7426F2 0.18%, rgba(152, 88, 255, 0.97) 99.67%);
}

.pera{
    color: #8971A0;
    font-size: 12px;
    line-height: 16px;
}

.ORhr{
    border: none;
    height: 1px;
    background: #2D2D2D; 
    text-align: center;
    
}
.ORhr::after{
    content: 'OR';
    padding: 0 1rem;
}

.signUpAsCreator{
    width: 100%;
    padding: 1rem;
    background: var(--signUpBtn-bg-gradient);
}