.container {
    position: relative;
    height: 26rem;
    margin: 0 70px;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #1F1D23;
    overflow: hidden;
}

.img {
    border-radius: 1rem;
    mix-blend-mode: saturation;
}

.textBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
}

.textBox p {
    text-align: center;
    font-size: medium;
    color: rgba(255, 255, 255, 0.70);
}

.textBox h1 {
    font-size: 2.2rem;
    font-weight: 500;
}

.circle1 {
    width: 28%;
    height: 71%;
    border-radius: 54%;
    background: #5900A0;
    filter: blur(100px);
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    animation: circle1Move 1s ease-out infinite;
}

.circle2 {
    width: 13%;
    height: 38%;
    border-radius: 55%;
    background: #920017;
    filter: blur(100px);
    position: absolute;
    left: 25%;
    top: 5%;
    z-index: 2;
    animation: circle2Move 1s ease-out infinite;
}

.circle3 {
    width: 22%;
    height: 30%;
    border-radius: 54%;
    background: #5900A0;
    filter: blur(100px);
    position: absolute;
    left: 48%;
    bottom: 5%;
    z-index: 2;
    animation: circle3Move 1s ease-out infinite;
}

.circle4 {
    width: 15%;
    height: 71%;
    border-radius: 54%;
    background: #920017;
    filter: blur(100px);
    position: absolute;
    right: 2%;
    top: 17%;
    z-index: 2;
    animation: circle4Move 1s ease-out infinite;
}

@media (max-width: 768px) {
    .container {
        margin: 0 20px;
    }

    .textBox {
        width: 95%;
    }
}

@media (max-width: 500px) {
    .textBox h1 {
        font-size: 1.5rem;
    }
}

@keyframes circle1Move {
    0% {
        left: 20px;
    }

    50% {
        left: 100px;
    }

    100% {
        left: 0px;
    }
}

@keyframes circle2Move {
    0% {
        left: 26%;
    }

    50% {
        left: 30%;
    }

    100% {
        left: 22%;
    }
}

@keyframes circle3Move {
    0% {
        left: 46%;
    }

    50% {
        left: 52%;
    }

    100% {
        left: 47%;
    }
}

@keyframes circle4Move {
    0% {
        right: 1%;
    }

    50% {
        right: 3%;
    }

    100% {
        right: 6%;
    }
}